version: "3.8"

services:
  backend:
    image: ares-backend:latest
    container_name: ares-backend
    ports:
      - "8000:8000"
    networks:
      - ares-network

  frontend:
    image: ares-frontend:latest
    container_name: ares-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - ares-network

networks:
  ares-network:
    driver: bridge
